*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    background: #1F2937;
    color: #F9FAF8;
}

.introduction{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
}

.left-side-header{
    font-size: 15px;
}

.left-side-header a{
    text-decoration: none;
    color: #F9FAF8;
}

.right-side-header{
    display: flex;
    gap: 30px;
    align-items: center;
}

.right-side-header ul{
    display: flex;
    gap: 30px;
    text-decoration: none;
    list-style-type: none;
}

.right-side-header a{
    text-decoration: none;
    color: #F9FAF8;
}

.intro-paragraph{
    width: 50%;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 200px;
}

.projects-header{
    font-size: 18px;
    background-color: red;
    width: 100px;
    border: 1px solid red;
    align-items: center;
    padding: 8px;
    border-radius: 5px;
}

.intro-paragraph h2{
    font-size: 48px;
}

.intro-paragraph p{
    font-size: 18px;
    padding-top: 10px;
}

b{
    color: red;
}

footer{
    margin-top: 250px;
    color: #F9FAF8;
}

.footer-icons{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.footer-icons img{
    width: 40px;
    height: auto;
    max-height: 100vh;
}

/* about-page */

.content{
    margin-top: 70px;
}

.intro-para a{
    color: red;
}

.intro-para p{
    font-size: 18px;
    text-align: left;
    max-width: 900px;
    align-items: center;
    margin: 0 auto;
}

.tech-stack-container h1{
    margin: 40px 0;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: red;
}

.tech-stack-box{
    display: flex;
    align-items: center;
    
}

.tech-stack{
    border: 2px solid #F9FAF8;
    border-radius: 5px;
    height: 270px;
    max-width: 200px;
    padding: 6px;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.tech-stack img{
    width: 180px;
    height: auto;
    border-radius: 5px;
}

.tech-stack p{
    margin-top: 23px;
    font-size: 20px;
}
